<div class="entrada">
  <h1  ><b>After Effects</b></h1> 
</div>
<div class="row animated fadeIn fast">

  <div class="col-md-8 embed-responsive embed-responsive-16by9 vid">

    <video width="640" height="360"   controls >
        <source src="assets/video/after/AnimaciónLogoGoogle.mp4"  type="video/mp4">
            </video>
  </div>
  <br>
  <br>
  <div class="col-md-4 text-justify">

      <h3><b><em>Animación Logo Google</em></b> </h3>
     
     

  </div>

</div>
<br>

<div class="row animated fadeIn fast">

  <div class="col-md-8 embed-responsive embed-responsive-16by9 vid">
    <video width="640" height="360"   controls >
        <source src="assets/video/after/AnimaciónLogoMyRestaurant.mp4"  type="video/mp4">
            </video>
  </div>
  <br>
  <br>
  <div class="col-md-4 text-justify">

      <h3><b><em>Animación Logo My Restaurant</em></b> </h3>
     
     


  </div>

</div>
<br>

<div class="row animated fadeIn fast">

  <div class="col-md-8 embed-responsive embed-responsive-16by9 vid">

    <video width="640" height="360"   controls >
        <source src="assets/video/after/Asteroides.mp4"  type="video/mp4">
            </video>
  </div>
  <br>
  <br>
  <div class="col-md-4 text-justify">
      <h3><b><em>Asteroides</em></b> </h3>
    
    





  </div>

 
</div>
<br>

<div class="row animated fadeIn fast">

  <div class="col-md-8 embed-responsive embed-responsive-16by9 vid">

    <video width="640" height="360"   controls >
        <source src="assets/video/after/EfectoGlitch.mp4"  type="video/mp4">
            </video>
  </div>
  <br>
  <br>
  <div class="col-md-4 text-justify">
      <h3><b><em>Efecto Glitch</em></b> </h3>
    
     




  </div>

 
</div>
<br>

<div class="row animated fadeIn fast">

  <div class="col-md-8 embed-responsive embed-responsive-16by9 vid">


    <video width="640" height="360"   controls >
        <source src="assets/video/after/LiquidDrop.mp4"  type="video/mp4">
            </video>
  </div>
  <br>
  <br>
  <div class="col-md-4 text-justify">
      <h3><b><em>Liquid Drop</em></b> </h3>
    
   




  </div>

 
</div>
<br>

<div class="row animated fadeIn fast">

  <div class="col-md-8 embed-responsive embed-responsive-16by9 vid">


    <video width="640" height="360"   controls >
        <source src="assets/video/after/LogoNuva.mp4"  type="video/mp4">
            </video>
  </div>
  <br>
  <br>
  <div class="col-md-4 text-justify">
      <h3><b><em>Logo Nuva</em></b> </h3>
    
      





  </div>

 
</div>
<br>

<div class="row animated fadeIn fast">

  <div class="col-md-8 embed-responsive embed-responsive-16by9 vid">


    <video width="640" height="360"   controls >
        <source src="assets/video/after/MáscaraAlphaMate.mp4"  type="video/mp4">
            </video>
  </div>
  <br>
  <br>
  <div class="col-md-4 text-justify">
      <h3><b><em>Máscara Alpha Mate</em></b> </h3>
    
    





  </div>

 
</div>
<br>

<div class="row animated fadeIn fast">

  <div class="col-md-8 embed-responsive embed-responsive-16by9 vid">

    <video width="640" height="360"   controls >
        <source src="assets/video/after/Morphingdeformas.mp4"  type="video/mp4">
            </video>
  </div>
  <br>
  <br>
  <div class="col-md-4 text-justify">
      <h3><b><em>Morphing de formas</em></b> </h3>
    
      





  </div>

 
</div>
<br>

<div class="row animated fadeIn fast">

  <div class="col-md-8 embed-responsive embed-responsive-16by9 vid">


    <video width="640" height="360"   controls >
        <source src="assets/video/after/Reloj.mp4"  type="video/mp4">
            </video>
  </div>
  <br>
  <br>
  <div class="col-md-4 text-justify">
      <h3><b><em>Reloj</em></b> </h3>
    
    





  </div>

 
</div>