<div class="entrada">
  <h1  ><b>After Effects</b></h1> 
</div>
<div class="row animated fadeIn fast">

  <div class="col-md-8 embed-responsive embed-responsive-16by9 vid">

      <iframe src="https://www.youtube.com/embed/bubb4BeI354" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      <iframe class="embed-responsive-item" width="640" height="360" src="https://www.youtube.com/embed/QN7EvCsZoQk" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </div>
  <br>
  <br>
  <div class="col-md-4 text-justify">

      <h3><b><em>Acto de Graduación Centros de Gestión UCM curso 2015 -2016</em></b> </h3>
     
      <h5>
          Vídeo institucional de los actos de graduación en el Centro Superior de Estudios de Gestión de la Universidad Complutense de Madrid (2015—2016) - junio 2016
      </h5>

  </div>

</div>
<br>

<div class="row animated fadeIn fast">

  <div class="col-md-8 embed-responsive embed-responsive-16by9 vid">

      <iframe class="embed-responsive-item" width="640" height="360" src="https://www.youtube.com/embed/1qyYe_38kog" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </div>
  <br>
  <br>
  <div class="col-md-4 text-justify">

      <h3><b><em>Acto de Graduación Centros de Gestión UCM curso 2016 -2017</em></b> </h3>
     
      <h5>
          Vídeo institucional de los actos de graduación en el Centro Superior de Estudios de Gestión de la Universidad Complutense de Madrid (2016—2017) - junio 2017
      </h5>


  </div>

</div>
<br>

<div class="row animated fadeIn fast">

  <div class="col-md-8 embed-responsive embed-responsive-16by9 vid">


      <iframe class="embed-responsive-item" width="640" height="360" src="https://www.youtube.com/embed/wHzGzPp1gyI" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </div>
  <br>
  <br>
  <div class="col-md-4 text-justify">
      <h3><b><em>Acto de Graduación Centros de Gestión UCM curso 2017 -2018</em></b> </h3>
    
      <h5>
          Vídeo institucional de los actos de graduación en el Centro Superior de Estudios de Gestión de la Universidad Complutense de Madrid (2017—2018) - junio 2018
      </h5>





  </div>

 
</div>