
<div class="row animated fadeIn slow">

  <div class=" col-md-4">

      <img src="assets/img/jessi.jpg" class="img-about" [routerLink]="['/heroes']">


  </div>

  <div class="col-md-8">
    <!--
      <a>Ya que has llegado hasta aquí, te contaré un poco quién soy y qué hago en este lugar.

  Me llamo Jessica Roldán, y un 24 de diciembre de 1994 aparecí en el mundo con ganas de vivir experiencias, conseguir metas,  y con la certeza de que para ello debería esforzarme más que los que no saben qué implica crecer y vivir en un barrio humilde.
  
  Como me gustan los retos, decidí estudiar Comunicación Audiovisual en la Complutense, donde nunca me contaron que lo difícil venía después del Trabajo de Fin de Grado.
  
  Así que, tras comprobar que el mundo laboral era peor que mi barrio, decidí estudiar una formación profesional de Imagen e Iluminación donde terminé de comprender lo mucho que se puede mostrar a través del visor de una cámara, y cómo las personas o acontecimientos de la vida real, por rutinarios o simples que parezcan, se pueden convertir en algo apasionante.
  
  Que cada historia cuenta. Y yo quiero contarlas.</a>
    -->


  <p>Formación Académica</p>
<div class="container animated fadeIn slow">
  <a>
    <li>Técnica superior en Iluminación, Captación y Tratamiento de la Imagen 
        IES Puerta Bonita
        
        
        </li>
        <li>Graduada en Comunicación Audiovisual
            Universidad Complutense de Madrid</li>
    </a>
</div>

<p>Experiencia Profesional</p> 
<div class="container animated fadeIn slow">
    <a>
      <li>Ayudante y operadora de cámara en Atresmedia realizando el módulo de Formación en Centros de Trabajo
          
          
          </li>
          <li>Operadora de cámara y montadora del vídeo institucional de los actos de graduación del Centro Superior de Estudios de Gestión (UCM)</li>
          <li>Operadora de cámara en el Evento FP+I Madrid en el IES Hotel Escuela de Madrid</li>
          <li>Prácticas en el Ministerio de la Presidencia en la Secretaría de Estado de Comunicación. Palacio de la Moncloa.</li>
          <li>Prácticas en Infoactualidad, el periódico de la facultad de Ciencias de la Información de la Universidad Complutense de Madrid</li>
      </a>
  </div>
  </div>

</div>
<br>

