
<div class="row animated fadeIn fast">

  <div class=" col-md-5">

      <img src="assets/img/jessi.jpg" class="img-about" [routerLink]="['/heroes']">


  </div>

  <div class="col-md-6">


  <p>Formación Académica</p>
<div class="container animated fadeIn slow">
  <a>
    <li>Técnica superior en Iluminación, Captación y Tratamiento de la Imagen 
        IES Puerta Bonita
        
        
        </li>
        <li>Graduada en Comunicación Audiovisual
            Universidad Complutense de Madrid</li>
    </a>
</div>

<p>Experiencia Profesional</p> 
<div class="container animated fadeIn slow">
    <a>
      <li>Ayudante y operadora de cámara en Atresmedia realizando el módulo de Formación en Centros de Trabajo
          
          
          </li>
          <li>Operadora de cámara y montadora del vídeo institucional de los actos de graduación del Centro Superior de Estudios de Gestión (UCM)</li>
          <li>Operadora de cámara en el Evento FP+I Madrid en el IES Hotel Escuela de Madrid</li>
          <li>Prácticas en el Ministerio de la Presidencia en la Secretaría de Estado de Comunicación. Palacio de la Moncloa.</li>
          <li>Prácticas en Infoactualidad, el periódico de la facultad de Ciencias de la Información de la Universidad Complutense de Madrid</li>
      </a>
  </div>
  </div>

</div>
<br>

