img {

    opacity: 1.0;
   filter: alpha(opacity=100);
   box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   transition: transform .3s;

  
 }
 img:hover {
  /*opacity: 0.5;
  filter: alpha(opacity=50);*/
  filter: grayscale(100%);
}

 img:hover {

   box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   transform: scale(1.04);
   cursor: pointer;
   
 }