.entrada {
    width: 100;
     text-align: center;
   
 }
 
 .barra {
     border-bottom: 6px solid black;
     border-radius: 5em;
     margin-bottom: 2em;
     width: 80%;
     height: 10%;
     margin-left: 12%;
     box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.2);
 }