<div class="entrada">
  <h1><b>Videoclip</b></h1>
</div>



<div class="row animated fadeIn fast">

    <div class="col-md-8 embed-responsive embed-responsive-16by9 vid">

      <iframe width="640" height="360" src="https://www.youtube.com/embed/jVQJ32PzmPM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <br>
    <br>
    <div class="col-md-4 text-justify">

        <h3><b><em>Cuaderno de bitácora – Ajax y Prok</em></b> </h3>
        
        <h5>
          Videoclip realizado con Awake Studios - mayo 2019
        </h5>

    </div>

</div>
<br>