.entrada {
    width: 100;
     text-align: center;
   
  }
  
  .barra {
     border-bottom: 6px solid black;
     border-radius: 5em;
     margin-bottom: 2em;
     width: 60%;
     height: 10%;
     margin-left: 20%;
     box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.2);
  }
  
  img {
    
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  img:hover {
   
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   
    cursor: pointer;
    
  }