.footer {
    color: white;
 
    font-size: 9.5pt;
    background-color: black;
    
    padding: 1em 0;
   
  
}

.foto-logo {
    margin-left: 0.5em;
    margin-right: 0.5em;
    width: 25px;
    height: 25px;
    cursor: pointer;
    transition: transform 1s ease;
}




  .foto-logo:hover {
    transform:rotate(360deg);
  
  }
